/*imports go here */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');



  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Secular+One&display=swap');


:root {

    --font-pop: 'Poppins', sans-serif;
    

    /* I like this maroon like color hahaha
    --primary: #70191c;
    --secondary: #f4f2cd;
    --accent: #c82d32;
    --text: #082524;
    --background: #eefbfb;
    --gradient-background: linear-gradient(to right top, #70191c, #935236, #b3875d, #d2bc91, #f4f2cd);
    */


    /*
    --primary: #0a8a50;
    --secondary: #c1fbe1;
    --accent: #10e082;
    --text: #010e08;
    --background: #d4fcea;
    --gradient-background: linear-gradient(to left bottom, #0a8a50, #45a674, #6fc298, #97debc, #c1fbe1);
    */

    /* dark purple woah 
    --primary: #4f2754;
    --secondary: #dfb9d0;
    --accent: #8c406e;
    --text: #181023;
    --background: #f1eef7;
    --gradient-background: linear-gradient(to left bottom, #4f2754, #724870, #966c8f, #bb92ae, #dfb9d0);
    */
    
    /* purple? i guess? */
    --primary: #a62671;
    --secondary: #efb8bd;
    --accent: #a729b3;
    --text: #000000;
    --background: #eefbf4;
    --gradient-background: linear-gradient(to right top, #a62671, #bc4f7e, #d0728f, #e095a4, #efb8bd);

    /*kinda like this black? not sure if it's good for seniors tho
    --primary: #383335;
    --secondary: #d6d1d4;
    --accent: #73686d;
    --text: #100f0f;
    --background: #f0eff0;
    --gradient-background: linear-gradient(to right top, #383335, #5c5759, #837d80, #aba6a9, #d6d1d4);
    */
    
    
     /*nah i don't like this color
    --primary: #8fb3ff;
    --secondary: #ebf1ff;
    --accent: #d41d6d;
    --text: #000000;
    --background: #ffffff;
    --gradient-background: linear-gradient(to right top, #8fb3ff, #a7c2ff, #bed2ff, #d5e1ff, #ebf1ff);
    */
    
    
    /* i like this rusty brown color
    --primary: #cd6437;
    --secondary: #f2d6ca;
    --accent: #c05b30;
    --text: #251109;
    --background: #f7e6de;
    --gradient-background: linear-gradient(to right top, #cd6437, #da815a, #e49d7e, #ecb9a3, #f2d6ca);
    */
    
}


* {
    margin: 0;
    padding: 0;
}

#accept:hover {
    background: var(--primary);
    color: var(--background);
}

#accept-request{
    text-decoration: none;
}

#reject:hover {
    background-color: var(--secondary);
    color:rgb(253, 59, 59);
}

#Active {
    background-color: var(--secondary);
}

#emp-button-active, #senior-button-active{
    background-color: var(--primary);
    border-bottom: solid 2px var(--background);
    color: var(--background);
}

#mid-scan-benefits {
    display: none;
}


#mid-scan-search {
    display: none;
}

#pic-type-error {
    display: none;
}

#req-notif {
    align-items: center;
    background-color: var(--accent);
    border-radius: 50%;
    color: var(--background);
    display: flex;
    float: right;
    height: 5vh;
    justify-content: center;
    margin-left: 8vw;
    width: 5vh;
}

#search-button{
    color: var(--background);
}

#body-row {
    align-items: center;
    display:inline-table;
    height: 8vh;
}

#body-row td{
    width: 25%;
}

.add-post {
    background: var(--background);
    border-radius: 15px;
    cursor: pointer;
    display: flex;  
}

.add-post input, img{
    cursor: pointer;
}


.attachment {
    background-color: #fefefe;
    border-radius: 10px;
    cursor: pointer;
    flex-direction: column;
    height: 30vh;
    grid-column: 1/3;
}

.Active {
    background-color: green;
    border-radius: 50%;
    height: 2vh;
    width: 2vh;
}

.Inactive {
    background-color: red;
    border-radius: 50%;
    height: 2vh;
    width: 2vh;
}

.attach-foot{
    align-items: center;
    background-color: var(--accent);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: var(--background);
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    height: 25%;
    justify-content: center;
    cursor: pointer;
    width: 100%;
}

.attach-image{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height:100%;
    object-fit:cover;
    width:100%;
}

.attach-prev{
    height: 30vh;
    width: 100%;
}

.attachment-button {
    height: 100%;
    width: 100%;
}

body {
    background-image: var(--gradient-background);
    background-size: cover;
    overflow: hidden;
    
}

.check {
    align-items: center;
    display: flex;
    gap: 1rem;
    padding: 5px;
}

.check p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.check-box {
    background-color: var(--accent) ;
    border: none;
    border-radius: 10px;
    color: var(--background);
    height: 5vh;
    width: 100%;
}

.create-body{

    padding: 3vh;

}

.create-content {
    position: relative;
    background-color: #fefefe;
    overflow: auto;
    margin: 5vh auto;
    border-radius: 15px;
    width: 50vw;
    height: 90vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

.create-divs{
    display: flex;
    flex-direction: column;
}

.create-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.create-header {
    background-color: var(--primary);
    color: white;
    text-align: center;
    padding: 10px;

}

.create-header h2 {
    font-family: 'Poppins', sans-serif;
}

.create-labels{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.create-input {
    height: 5vh;
    width: 50%;
}

.da-pic {
    width: 100%;
}

.empty h1 {
    font-family: 'Poppins', sans-serif;
}

.left-button {
    align-items: center;
    border: none;
    background: transparent;
    border-radius: 15px;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    gap: 1rem;
    height: 10vh;
    width: 100%;
    
}

.left-button:hover {
    background-color: var(--secondary);
    transition: ease-in 0.3s;
}

.left-button p {
    margin-top: 15px;
}


.left-div {
    background-color: var(--background);
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    height: 80vh;
    padding: 15px;
    width: 25vw;
}

.link {
    text-decoration: none;
}

.loader {
    align-items: center;
    background-color: var(--primary);
    border-radius: 15px;
    display: flex;
    height: 50vh;
    justify-content: center;
    left: 38vw;
    position: fixed;
    top: 24vh;
    transition: opacity 0.75s, visibility 0.75s;
    width: 50vh;
}

.loader::after {
    border: 15px solid var(--secondary);
    border-radius: 50%;
    border-top-color: var(--background);
    content: "";
    height:75px;
    width: 75px;
    animation: loading 0.75s ease infinite;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.logout-button {
    border: none;
    background: transparent;
    border-radius: 15px;
    bottom: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    height: 10vh;
    width: 100%;
}

.logout-button:hover {
    background-color: var(--secondary);
    color: rgb(252, 63, 63);
    transition: ease-in 0.3s;  
}

.logout-button:hover .material-symbols-outlined {
    background-color: var(--secondary);
    color: rgb(252, 63, 63);
    transition: ease-in 0.3s;
}

.logout-button p {
    display: flex;
    margin-top: 15px;
}

.log-header{
    align-items: center;
    display: flex;
    height: 9vh;
    justify-content: space-around;
}

.log-header button{
    border: none;
    color: var(--primary);
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    height: 100%;
    width: 100%;
}

.log-header div{
    height: 100%;
    width: 50%;
}

.log-table {
    border-collapse: collapse;
    border-radius: 15px;
    width: 100%;
}

.log-table .table-body tr{
    height: 10%;
}

.log-table tr{
    display: flex;
    justify-content: space-around;
}

.log-table th {
    background-color: var(--primary);
    color: var(--background);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 100%;
}

.log-table td{
    background-color: var(--background);
    font-family: 'Poppins', sans-serif;
    height: 10vh;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    width: 25%;
}

.image-attach {
    width: 100%;
}

.in-mid {
    align-items: center;
    display: flex;
    height: 10vh;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 2px solid var(--secondary);
}


.in-mid h3{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.in-mid-events {
    align-items: center;
    display: flex;
    height: 10vh;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 2px solid var(--secondary);
}

.home-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 85vh;
    overflow: overlay;
    width: 50vw;
}

.main-div {
    display: flex;
    gap: 2rem;
    height: 100vh;
    margin-top: 2%;
    padding: 0px 20px 20px 20px;
    overflow: auto;
    width: 96vw;
    
}

.material-symbols-outlined {
    color: var(--accent);
    font-variation-settings:
    'FILL' 0,
    'wght' 250,
    'GRAD' 0,
    'opsz' 48;
    float: left;
    font-size: 45px;
    margin-right: 20px;
  }



.mid-div {
    background-color: var(--background);
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    height: 84.5vh;
    overflow: overlay;
    text-align: center;
    width: 50vw;
}

.mid-div h1{
    font-family: 'Poppins', sans-serif;
    margin: 15px none;
}

.mid-div-empty {
    align-items: center;
    background-color: var(--background);
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    display: flex;
    height: 85vh;
    justify-content: center;
    overflow: overlay;
    width: 50vw;
}

.mid-div-only {
    align-items: center;
    background-color: var(--background);
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    display: flex;
    flex-direction: column;
    height: 84.8vh;
    overflow: overlay;
    width: 67vw; 
}

.mid-div-requests {
    align-items: center;
    background-color: var(--background);
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    display: flex;
    flex-direction: column;
    height: 81.5vh;
    overflow: overlay;
    padding-top: 20px;
    width: 40vw; 
}

.mid-div::-webkit-scrollbar-track {
    background-color: transparent;
}

.mid-div::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.mid-div::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 15px;
}

.mid-scan {
    height: 100%;
    width: 100%;
}

/* this is for the modal */

 /* Modal Header */
 .modal-header {
    padding: 2px 16px;
    background-color: var(--primary);
    color: var(--background);
  }
  
  /* Modal Body */
  .modal-body {
    display: flex;
    justify-content: center;
}
  
  
 
  
 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    overflow: auto;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
    
    .close {
      color: var(--background);
      float: right;
      font-size: 40px;
      font-weight: bold;
      transform: translate(0px, -10px);
    }
    
    .close:hover,
    .close:focus {
      color: var(--accent);
      text-decoration: none;
      cursor: pointer;
    }

.no-posts {
    align-items: center;
    background-color: var(--background);
    border-radius: 15px;
    display: flex;
    height: 10%;
    justify-content: center;
    text-align: center;
}

.no-posts h1{
    color: var(--text);
    font-family: 'Poppins', sans-serif;
}

.post {
    background-color: var(--background);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2% 15px;
    scrollbar-width: thin;
}

.post-desc {
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    outline: none;
    resize: none;
    width: 90%;
}

.post-details {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.post-head {
    font-family: 'Poppins', sans-serif;
}

.profile-pic {
    border-radius: 25px;
    float: left;
    height: 50px;
    margin-right: 20px;
    width: 50px;
}

.request-details {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto;
    padding: 5px;
    width: 90%;
}

.request-details h3 {
    color: var(--accent);
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.request-img {
    border-radius: 15px;
    height: 30vh;
    width: 30vh;
}

.request-info {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.request-header {
    background: var(--primary);
    height: 7vh;
    overflow: hidden;
    width: 100%;
}

.request-header h1 {
    color: var(--background);
    font-family: 'Poppins', sans-serif;
    margin: 5px 15px 5px 15px;
}



.right-div {
    display: grid;
    grid-template-columns: auto auto;
    height: 55vh;
    gap: 5px;
    width: 25vw;
}

.right-div-buttons {
    align-items: center;
    background-color: var(--background);
    border: 1px solid var(--secondary);
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: center;
    width: 20vh;
}

.right-div-buttons:hover {
    animation: bounce 0.5s 1 linear;
    position: relative;
}

.right-div-buttons p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.right-div-buttons span {
    font-size: 75px;
}

.right-div-buttons-req {
    align-items: center;
    background-color: var(--background);
    border: none;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    height: 40%;
    justify-content: center;
    width: 100%;
}

.right-div-log {
    display: flex;
    flex-direction: column;
    height: 55vh;
    gap: 5px;
    width: 25vw;
}

.right-div-log select, button{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    height: 6vh;
    width: 100%;
}

.right-div-log button {
    background-color: var(--background);
    border: none;
    color: var(--accent);
}


.right-div-requests {
    display: grid;
    row-gap: 5px;
    grid-template-columns: 1fr 1fr;
    height: 75vh;   
    width: 25vw;
}

.right-div-scan {
    background-color: var(--background);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 50vh;
    padding: 15px;
    width: 20vw;
}

.right-div-scan h3{
    font-family: 'Poppins', sans-serif;
}

.right-div-theme{
    display: grid;
    flex-direction: column;
    grid-template-columns: auto auto;
}

.right-div-theme h1{
    grid-column: 1/3;
}

.right-search {
    grid-column: 1/3;
    height: 8vh;
    display: flex;
}

.right-search button, input{
    border: none;
}

.right-search button{
    background-color: var(--primary);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    text-align: center;
    width: 7vh;
}

.right-search input{
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 5px;
    width: 34vh;
}

.right-search input:focus{
    outline: none;
    width: 75%;
}

.scrollable-element {
    scrollbar-width: thin;
  }

.search-div{
    background-color: var(--background);
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    display: none;
    height: 84.5vh;
    overflow: overlay;
    width: 50vw;
}

.senior-table {
    border-collapse: collapse;
    border-radius: 15px;
    width: 100%;
}

.senior-table .table-head tr:first-child th:first-child {
    border-top-left-radius: 15px;
}

.senior-table .table-head tr:first-child th:last-child {
    border-top-right-radius: 15px;
}

.senior-table .table-body tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

.senior-table .table-body tr:last-child{
    border-color: var(--secondary);
}

.senior-table th {
    background-color: var(--primary);
    color: var(--background);
}

.senior-table th, td{
    font-family: 'Poppins', sans-serif;
    min-width: 50px;
    max-height: 20px;
    font-size: 16px;
    padding: 15px 12px 5px 12px;
    text-align: center;
}

.stats {
    align-items: baseline;
    display: flex;
    gap: 1rem;
    margin: 1vh;
}

.table-body tr {
    border-bottom: 2px solid var(--secondary);
}

.title {
    align-items: center;
    display: flex;
    width: 100%;
}

.title h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 23px

}

.title-date{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.top-nav {
    align-items: center;
    color: var(--background);
    display: flex;
    font-family: 'Secular One', 'Poppins', sans-serif;
    height: 8vh;
    padding: 0px 15px 0px 15px;
    width: 100vw;
}

.top-post {
    display: flex;
    padding: 10px;
    width: 100%;
}

.top-post input {
    border: none;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 0px 10px;
    width: 90%;
}

.type-date {
    display: flex;
}

.view-button {
    background-color: var(--accent);
    border: none;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    color: var(--background);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    height: 35px;
    max-width: 190px;
    padding: 5px;
}

.view-button:hover {
    background: var(--primary);
    color: var(--secondary);
}

.view-button-certificate {
    background-color: var(--accent);
    border: none;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    color: var(--background);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    height: 35px;
    max-width: 100%;
    padding: 5px;
}

.view-button-certificate:hover{
    background: var(--primary);
    color: var(--secondary);
}

.who-post{
    width: 100%;
}



 /* Add Animation */
 @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

@keyframes bounce { 0%, 100% { top: 0; } 30% { top: 20px; } 50% { top: 10px; } 80% { top: 20px; } }

@keyframes loading {
    from {transorm: rotate(0turn)}
    to {transform: rotate(1turn)}
}

 /* Works on Chrome, Edge, and Safari */
 *::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 20px;
    border: 3px solid var(--scroll-bar-bg-color);
}

/* this is for the theme picker */

:root:has(#green:checked){
    --primary: #3cd36e;
    --secondary: #b0edc4;
    --accent: #27aa53;
    --text: #082110;
    --background: #def7e6;
    --gradient-background: linear-gradient(to right top, #3cd36e, #5fda85, #7ce19b, #96e7b0, #b0edc4);
}

:root:has(#dark:checked){
    /*kinda like this black? not sure if it's good for seniors tho */
    --primary: #383335;
    --secondary: #d6d1d4;
    --accent: #73686d;
    --text: #100f0f;
    --background: #f0eff0;
    --gradient-background: linear-gradient(to right top, #383335, #5c5759, #837d80, #aba6a9, #d6d1d4);
}

:root:has(#purple:checked){
    /* dark purple woah */
    --primary: #4f2754;
    --secondary: #dfb9d0;
    --accent: #8c406e;
    --text: #181023;
    --background: #f1eef7;
    --gradient-background: linear-gradient(to left bottom, #4f2754, #724870, #966c8f, #bb92ae, #dfb9d0);

}

:root:has(#brown:checked){
    /* i like this rusty brown color */
    --primary: #cd6437;
    --secondary: #f2d6ca;
    --accent: #c05b30;
    --text: #251109;
    --background: #f7e6de;
    --gradient-background: linear-gradient(to right top, #cd6437, #da815a, #e49d7e, #ecb9a3, #f2d6ca);
}

:root:has(#maroon:checked){
    
/* I like this maroon like color hahaha */
    --primary: #70191c;
    --secondary: #f4f2cd;
    --accent: #c82d32;
    --text: #082524;
    --background: #eefbfb;
    --gradient-background: linear-gradient(to right top, #70191c, #935236, #b3875d, #d2bc91, #f4f2cd);
    
}

:root:has(#wtf:checked){
     /*nah i don't like this color */
    --primary: #8fb3ff;
    --secondary: #ebf1ff;
    --accent: #d41d6d;
    --text: #000000;
    --background: #ffffff;
    --gradient-background: linear-gradient(to right top, #8fb3ff, #a7c2ff, #bed2ff, #d5e1ff, #ebf1ff);
    
}
